+Section({ name :'core' })
      h1 Core
      pre 
        code(data-trim data-line-numbers="1-2|3-5|8-10")
            table.table
                tbody
                    tr
                        td Apples
                        td $1
                        td 7
                    tr
                        td Oranges
                        td $2
                        td 18
      