header(class=`${prefix}-header`)
  a(class=`${prefix}-header__name-link` href=basedir title="Retour à l'accueil")
    +Logo({title:'React Starter', subtitle:'Workshop', img: "slash-logo-white.svg", modifier: `${menuState === undefined ? "header opened" : "header"}`})
